body {
background-color: rgb(198, 195, 195);
font-family: Verdana, Geneva, Tahoma, sans-serif;
font-weight: 500;
background-color: red;
}

.inputContainer {
  display: flex;
}

.form {
  display: flex;
  flex-direction: column;
  width: 40%;
  gap: 10px;
  min-height: 450px;
  margin-left: 50px;
  font-weight: 600;
}

.form input, .form select, .form textarea {
  min-width: 300px;
  min-height: 25px;
  border-radius: 5px;
  border: none;
  border-bottom: 2px solid gray;
  margin-top: 5px;
}

.form input[type=number] {
  min-width: 205px;
  margin-left: 5px;
}

#pontosRestantes {
  margin-left: 106px;
}

#image {
  min-width: 223px;
  margin-left: 5px;
}

#supertrunfoLabel {
  text-align: left;
  font-weight: 700;
  font-size: 1.3em;
}
#isSupertrunfo {
  min-width: 30px;
  margin-left: 0;
}

.form select {
  min-width: 306px;
  height: 30px;
}

.form button {
  width: 120px;
  height: 40px;
  font-size: 1.1em;
  color: white;
  background-color: blue;
  border-radius: 5px;
}

.form button:disabled {
  color: black;
  background-color: gray;
}

.inputContainer .card {
  position: relative;
  width: 25%;
  min-height: 450px;
  margin: auto;
  background-color: white;
  border-radius: 10px;
  overflow: auto;
}

.inputContainer .innerCard {
  position: absolute;
  background-color: green;
  min-height: 430px;
  width: 95%;
  margin: 8px 1.8%;
  border-radius: 10px;
  border: 2px solid blue;
}

.inputContainer .card p {
  width: 70%;
  margin: auto;
  padding: 5px 10px;
  margin-top: 10px;
  border-radius: 15px;
  background-color: rgb(198, 195, 195);
  color: black;
  min-height: 20px;
}

.inputContainer .card p:nth-child(1) {
  margin-top: 180px;
}

.inputContainer .card img {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 100%;
  height: 170px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.listContainer {
  width: 100%;
  display: flex;
  margin-top: 50px;
}

.listCard {
  position: relative;
}

.listCard .card{
  min-height: 420px;
  min-width: 300px;
  background-color: green;
  border-radius: 10px;
  margin: 0 20px;
  padding: 20px 0;
}

.listCard .card p:nth-child(1) {
  margin-top: 180px
}

.listCard .card img {
  position: absolute;
  top: 30px;
  right: 10%;
  width: 80%;
  height: 150px;
}

.listCard .card p {
  width: 70%;
  margin: auto;
  padding: 5px 10px;
  margin-top: 10px;
  border-radius: 15px;
  background-color: gray;
  color: white;
}

.listCard button {
  position: absolute;
  top: 5px;
  right: 40px;
  width: 70px;
  height: 20px;
  background-color: red;
  border-radius: 10px;
}

.listcard button:disabled {
  background-color: gray;
}

.card p:nth-child(8) {
  position: absolute;
  text-align: center;
  top: 70px;
  right: 25px;
  width: 50px;
  background-color: yellow;
  border: 2px solid black;
  padding: 10px;
  border-radius: 100%;
  color: black;
}

.aside {
  display: flex;
  flex-direction: column;
}
